.logo {
    margin-right: 10px; /* Adjust as needed */
    border-radius: 50%; /* Makes the logo circular, adjust as needed */
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5); /* Adds a subtle shadow, adjust as needed */
  }

  h2 {
    color: #DCB253; /* Use gold color or any other color you prefer */
    margin-top: 3px; /* Adjust as needed */
    margin-bottom: 2px;

  }

  .logo-container {
    margin-right: 20px; /* Adjust as needed for the desired separation */
    display: flex; /* Align items in a row */
    align-items: center; /* Center items vertically */
  }
  .headingStyle{
    font-size: 24px;
    font-weight: bold;
    margin-Bottom: 1rem,
  }

